.Players table {
  border-collapse: collapse;
  width: 100%;
  margin: 84px 0;
}
.Players table tr th {
  padding: 10px 4px;
  border: 1px solid #888;
  font-weight: normal;
  background-color: rgb(251, 249, 249);
}
.Players table tr th:nth-child(1) {
  background-color: rgb(220, 220, 220);
}
.Players table tr:nth-child(1) th {
  background-color: rgb(128, 0, 32);
  color: rgb(255, 160, 21);
}
.Players table tr:nth-child(1):hover th {
  background-color: rgb(128, 0, 32);
  color: rgb(255, 160, 21);
}
.Players table tr:nth-child(1):hover th:nth-child(1) {
  background-color: rgb(128, 0, 32);
  color: rgb(255, 160, 21);
}
.Players table tr:hover th {
  transition: 500ms;
  background-color: rgba(128, 0, 32, 0.1);
}
.Players table tr:hover th:nth-child(1) {
  transition: 500ms;
  background-color: rgba(128, 0, 32, 0.3);
}