.Players {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  width: 70%;
  margin: 42px auto 0 auto;
}
.Players table {
  border-collapse: collapse;
  box-shadow: 0 5px 10px #ddd;
  width: 100%;
  border-radius: 0.45rem;
  overflow: hidden;
}
.Players__button-container {
  display: flex;
  box-shadow: 0 5px 18px #ddd;
  border-radius: 0.35rem;
  overflow: hidden;
}
.Players__button-container button {
  border: none;
  padding: 8px 16px;
  font-size: larger;
}
.Players table tr th {
  padding: 14px 7px;
  border: 1px solid #ababab;
  border-left: none;
  border-right: none;
  font-size: 17px;
  font-weight: normal;
  background-color: rgb(251, 249, 249);
}
.Players table tr th:nth-child(1) {
  background-color: rgb(240, 240, 240);
}
.Players table tr:nth-child(1) th {
  background-color: rgb(160, 0, 32);
  color: rgb(255, 160, 21);
}
.Players table tr:nth-child(1):hover th {
  background-color: rgb(160, 0, 32);
  color: rgb(255, 160, 21);
}
.Players table tr:nth-child(1):hover th:nth-child(1) {
  background-color: rgb(160, 0, 32);
  color: rgb(255, 160, 21);
}
.Players table tr:hover th {
  transition: 500ms;
  background-color: rgba(160, 0, 32, 0.1);
}
.Players table tr:hover th:nth-child(1) {
  transition: 500ms;
  background-color: rgba(160, 0, 32, 0.22);
}
.Players .active-button {
  background-color: rgb(160, 0, 32);
  color: rgb(255, 160, 21);
}
.Players .inactive-button {
  background-color: rgba(160, 0, 32, 0.3);
}
.Modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
  overflow: auto;
}
.Modal__Content {
  background-color: whitesmoke;
  padding: 20px;
  border-radius: 0.35rem;
  max-width: 500px;
  width: 100%;
}
.Modal__Content h2 {
  display: flex;
  justify-content: center;
}
.Modal__Player-information {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
}
.close {
  font-size: 26px;
  cursor: pointer;
  float: right;
}
.close:hover {
  color: rgb(160, 0, 32);
}
.modal-open {
  overflow: hidden;
}
