.Home table {
  border-collapse: collapse;
  width: 100%;
  box-shadow: 0 5px 15px 5px #ddd;
  border-radius: 0.45rem;
  overflow: hidden;
}
.Home table tr th {
  padding: 14px 7px;
  border: 1px solid #ababab;
  border-left: none;
  border-right: none;
  font-size: 17px;
  font-weight: normal;
  background-color: rgb(251, 249, 249);
}
.Home table tr:nth-child(1) th {
  background-color: rgb(160, 0, 32);
  color: rgb(255, 160, 21);
}
.Home table tr:nth-child(even) th {
  background-color: #e0e0e0;
}
.Home__button-container {
  width: 100%;
  box-shadow: 0 5px 15px 5px #ddd;
  margin: 42px 0 4px 0;
  background-color: #e0e0e0;
  border-radius: 0.45rem;
  border: 1px solid #d0d0d0;
  overflow: hidden;
}
.Home__button-container button {
  border: none;
  font-size: larger;
  background-color: rgb(160, 0, 32);
  padding: 13px 26px;
}
.Home__button-container button:hover {
  background-color: rgb(128, 0, 32);
}
.Home .active-button {
  border: 1px solid rgb(255, 160, 21);
  color: rgb(255, 160, 21);
}

.Game {
  margin-top: 68px;
  background-color: rgb(251, 249, 249);
  color: #121212;
}
.Game table {
  border-collapse: separate;
}
.Game table tr th {
  padding: 14px 28px;
}
.Game thead {
  display: flex;
  justify-content: center;
}
.Game thead tr {
  font-size: 20px;
  padding: 10px 0;
}
.Game table tr:nth-child(1) th {
  background-color: rgb(251, 249, 249);
  color: black;
}
.Game__teams-gym {
  display: flex;
  justify-content: center;
  font-size: large;
  padding: 12px 6px;
}