.Contact__container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  border: 1px solid #888;
  padding: 32px 46px;
  margin: 42px 0 48px 0;
  background-color: rgb(160, 0, 32);
  color: white;
  border-radius: 12px;
  box-shadow: 0 5px 10px 8px #d5d5d5;
  max-width: max-content;
}
.Contact form {
  border: 1px solid #888;
  padding: 12px 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 32px;
  background-color: white;
  color: #121212;
  border-radius: 8px;
  box-shadow: 0 3px 15px 3px #424242;
}
.Contact form div {
  margin: 12px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}
.Contact form label {
  font-size: 16px;
  padding: 8px 0;
}
.Contact form label span {
  color: red;
}
.Contact form button {
  background-color: rgb(160, 0, 32);
  color: rgb(255, 160, 21);
  font-size: 18px;
  font-weight: bold;
  border: none;
  padding: 10px 18px;
  border-radius: 6px;
  box-shadow: 0 3px 8px 5px #ddd;
}
.Contact form button:hover {
  background-color: rgb(160, 0, 32, 0.8);
}
.Contact__us {
  margin: 12px 0 32px 0;
}
.Contact__us p {
  padding: 12px 0;
  font-size: 32px;
  font-weight: bolder;
}
.Contact__us span {
  font-size: 16px;
}
.Contact__email {
  display: flex;
  align-items: center;
  margin: 18px 0;
}
.Contact__email div {
  margin-left: 12px;
}
.Contact__email div p {
  font-size: 18px;
  font-weight: bold;
}
.Contact__icons {
  font-size: 28px;
}
.Contact form input {
  font-size: 14px;
  padding: 8px 56px 8px 8px;
  border-radius: 4px;
  border: 1px solid #888;
}
.Contact form textarea {
  font-size: 14px;
  padding: 10px 56px 10px 8px;
  border-radius: 4px;
  border: 1px solid #888;
}
.Contact__info {
  margin: 12px 160px 26px 0;
}
.Contact__icons-bottom {
  margin-top: 32px;
}
.Contact__icons-bottom a {
  margin: 2px 16px;
  color: white;
}
.Contact__icons-bottom a:hover {
  color: rgb(255, 160, 21);
  transition: 400ms;
}
.Contact__more-informations div:nth-child(1) {
  border-top: 1px solid #888;
}
.Contact__more-informations div {
  padding: 14px 20px;
  border-bottom: 1px solid #888;
}
.Contact__more-informations div h1,
.Contact__more-informations div h4 {
  font-weight: normal;
}
.Contact__more-informations h4 {
  font-size: larger;
}
.Contact__more-informations h4 span {
  font-size: x-large;
  font-weight: bold;
}
.Contact__more-informations {
  color: #121212;
}

@media all and (max-width: 914px) {
  .Contact__container {
    flex-direction: column;
  }
}
