nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-width: 1260px;
  margin: 14px auto 0 auto;
  padding: 16px 8px;
  box-shadow: 0 5px 12px 3px #ddd;
  border-radius: 0.5rem;
  background: whitesmoke;
}
.navigation-links__navs {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  list-style: none;
}
nav ul li {
  padding: 12px;
}
nav ul li a {
  text-decoration: none;
  color: rgb(255, 183, 67);
  font-size: 22px;
}
nav ul li a:hover {
  background-color: rgba(222, 184, 135, 0.3);
  transition: 200ms;
}
nav a img {
  height: 124px;
  width: 128px;
}
.navigation-links {
  display: flex;
  justify-content: left;
  flex-direction: column;
}
.navigation-links__navs {
  background: linear-gradient(
    90deg,
    whitesmoke 0%,
    rgba(160, 0, 32, 1) 20%,
    rgba(160, 0, 32, 1) 80%,
    whitesmoke 100%
  );
  padding: 0 120pt;
}
.navigation-links__name {
  color: rgb(160, 0, 32);
  font-size: xx-large;
}
.active {
  text-decoration: underline;
}
