nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-width: 1200px;
  margin: 14px auto 0 auto;
  padding: 16px 8px;
  box-shadow: 0 5px 12px 3px #ddd;
  border-radius: 0.5rem;
  background: whitesmoke;
}
.navigation-links__navs {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  list-style: none;
}
nav ul li {
  padding: 12px;
}
nav ul li a {
  text-decoration: none;
  font-size: 23px;
  color: #888;
}
nav ul li a:hover {
  background-color: rgba(222, 184, 135, 0.1);
  transition: 200ms;
}
nav a img {
  height: 124px;
  width: 128px;
}
.navigation-links {
  display: flex;
  justify-content: left;
  flex-direction: column;
}
.navigation-links__navs {
  display: flex;
  justify-content: space-around;
}
.navigation-links__name {
  color: rgb(160, 0, 32);
  font-size: 36px;
}
.active {
  font-weight: bold;
  color: rgb(160, 0, 32);
}
