nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-width: 1200px;
  margin: 14px auto 0 auto;
  padding: 16px 8px;
  box-shadow: 0 5px 12px 3px #ddd;
  border-radius: 0.5rem;
  background: whitesmoke;
  transition: transform 0.3s ease-in-out;
}
.navigation-links__navs {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  list-style: none;
}
nav ul li {
  padding: 12px;
}
nav ul li a {
  text-decoration: none;
  font-size: 23px;
  color: #888;
}
nav ul li a:hover {
  background-color: rgba(222, 184, 135, 0.1);
  transition: 200ms;
}
nav a img {
  height: 124px;
  width: 128px;
}
.navigation-links {
  display: flex;
  justify-content: left;
  flex-direction: column;
}
.navigation-links__navs {
  display: flex;
  justify-content: space-around;
}
.navigation-links__name {
  color: rgb(160, 0, 32);
  font-size: 36px;
}
.active {
  font-weight: bold;
  color: rgb(160, 0, 32);
}
nav.header-scrolled {
  position: sticky;
  transform: translateY(-120%);
}
nav.header-scrolled.visible {
  transform: translateY(0%);
}
.navigation-links__navs-responsive {
  display: none;
}

@media all and (max-width: 768px) {
  .navigation-links__navs {
    display: none;
  }
  .navigation-links__navs-responsive {
    position: relative;
    display: inline-block;
  }

  .navigation-links__navs-responsive-header {
    cursor: pointer;
    padding: 10px;
    background-color: #f2f2f2;
    border: 1px solid #ddd;
    border-radius: 0.25rem;
    color: rgb(160, 0, 32);
    font-weight: bold;
    font-size: 18px;
    display: flex;
    justify-content: space-between;
  }

  .navigation-links__navs-responsive-header.open {
    background-color: #ccc;
  }

  .navigation-links__navs-responsive-options {
    display: none;
    padding: 0;
    margin: 0;
    list-style-type: none;
    background-color: #fff;
    border: 1px solid #ccc;
    border-top: none;
    z-index: 1;
  }

  .navigation-links__navs-responsive.open,
  .navigation-links__navs-responsive-options {
    display: block;
    position: absolute;
    width: 99%;
  }

  .navigation-links__navs-responsive-options li {
    padding: 10px;
    cursor: pointer;
  }

  .navigation-links__navs-responsive-options li:hover {
    background-color: #f2f2f2;
    color: rgb(160, 0, 32);
  }
}
