.Gallery {
  margin-top: 42px;
  padding-bottom: 65px;
  background: linear-gradient(
    rgb(160, 0, 32, 0.05) 0%,
    whitesmoke 10%,
    whitesmoke 90%,
    whitesmoke 100%
  );
  border-radius: 8px;
  box-shadow: 0 5px 12px 5px #ddd;
}
.Gallery h1 {
  color: rgb(160, 0, 32);
}
.Image {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.Image img {
  height: 190px;
  width: 280px;
  box-shadow: 0 2px 4px 4px #ddd;
  margin: 6px;
  border-radius: 4px;
  object-fit: cover;
}
.Gallery__button-container {
  width: 85%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 18px;
}
.Gallery__button-container p {
  color: rgb(160, 0, 32);
  font-weight: 600;
}
.Gallery__button-container span {
  color: rgb(255, 120, 61);
}
.Gallery__button-container button {
  padding: 7px 14px;
  border-radius: 50%;
  font-size: larger;
  font-weight: bolder;
}
.Gallery__button-container button:hover {
  color: rgb(255, 160, 21);
  background-color: rgb(160, 0, 32, 0.8);
  border: 2px solid rgb(160, 0, 32);
}
.Gallery__button-container-responsive {
  display: none;
}

@media all and (max-width: 768px) {
  .Gallery__button-container {
    width: 60%;
    justify-content: flex-end;
  }
  .Gallery__button-container button {
    margin: 0 12px;
  }
  .Gallery__button-container p {
    display: none;
  }
  .Gallery__button-container-responsive {
    width: 85%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 18px;
  }
  .Gallery__button-container-responsive p {
    color: rgb(160, 0, 32);
    font-weight: 600;
  }
  .Gallery__button-container-responsive span {
    color: rgb(255, 120, 61);
  }
  .Gallery__button-container-responsive button {
    padding: 7px 14px;
    border-radius: 50%;
    font-size: larger;
    font-weight: bolder;
  }
  .Gallery__button-container-responsive button:hover {
    color: rgb(255, 160, 21);
    background-color: rgb(160, 0, 32, 0.8);
    border: 2px solid rgb(160, 0, 32);
  }
}
