footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 1px 18px 1px #ddd;
  background: whitesmoke;
  padding: 8px;
}
footer p {
  padding: 28px 0 0 0;
  font-size: 20px;
  color: rgb(160, 0, 32);
  text-align: center;
}
footer p a {
  color: rgb(255, 160, 21);
  font-size: 22px;
  text-decoration: none;
}
.footer-icons__links,
.footer-icons__links a {
  padding: 28px 16px 16px 16px;
  font-size: 44px;
  color: rgb(160, 0, 32);
}
.footer-icons__links a:hover {
  transition: 200ms;
}

.footer-icons__links a:nth-child(1):hover {
  color: rgb(59, 89, 152);
}
.footer-icons__links a:nth-child(2):hover {
  color: #bc1888;
}
.footer-icons__links a:nth-child(3):hover {
  color: #ff0000;
}
