.News__Container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  color: #121212;
}
.News__header {
  margin: 42px 0;
}
.News__header h1 {
  color: rgb(128, 0, 32);
}
.Instagram-feed {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.Instagram-News {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.News__timelines {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.News__timelines h2 {
  font-size: 23px;
}
.icons-ig {
  font-size: xx-large;
  color: #bc1888d5;
}
.icons-fb {
  font-size: xx-large;
  color: rgb(66, 103, 178);
}
.Instagram-News,
.Facebook-News {
  padding: 0 40px;
}
