::selection {
  background: rgba(255, 226, 61, 0.5);
}
a,
button {
  cursor: pointer;
}
p {
  margin: 0;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
body {
  background: linear-gradient(
    90deg,
    rgb(160, 0, 32, 0.2) 0%,
    whitesmoke 15%,
    whitesmoke 85%,
    rgb(160, 0, 32, 0.2) 100%
  );
}
.Home,
.About,
.Contact,
.Gallery,
.Camp,
.News {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 70%;
  margin: 0 auto;
}
#Author-linkedin:hover {
  color: rgb(0, 114, 177);
}
#Author-github:hover {
  color: rgb(23, 21, 21);
}
